{% if page.page_header %}
<header class="header">
  <section id="page-header">
    <div class="container">
      <div class="page-header">
        {{ page.page_header }}
      </div>
    </div><!-- /.container -->
  </section>
</header>
{% endif %}