/**
 * Variables
 */
:root {
  --body-bg: #ffffff;
  --header-block-bg: #f2f4fe;
  --content-bg: #f2f4ff;
  --content-border-color: #ced1e4;
  --footer-bg: #232733;
  --footer-color: #919296;
  --footer-border-color: #373b48;
  --text-color: #2a2a2a;
  --bold-color: #1e2127;
  --border-color: #e9ebf5;
  --theme-color: #ff6347;
  --theme-color-two: #302e44;
  --circle-one: #f3e7f0;
  --circle-two: #e0e2f6;
  --circle-three: #f9b6b4;
  --color-light: #e7a498;
  --font-content: 'Open Sans', sans-serif;
  --font-heading: 'Roboto', sans-serif;
}
/* default box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* remove default margin */
body,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* HTML and Body
----------------------- */
html:focus-within {
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
html {
  line-height: 1.7;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}
body {
  background-color: #ffffff;
  background: var(--body-bg);
  color: var(--text-color);
  font-family: var(--font-content), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Fonts
---------------------------------------- */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans.woff2') format('woff2'),
       url('../fonts/open-sans.woff') format('woff');
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-bold.woff2') format('woff2'),
       url('../fonts/roboto-bold.woff') format('woff');
}
/* Regions
----------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
template,
[hidden] {
  display: none;
}

/* Typography
----------------------- */
/* Typography -> Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bold-color);
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: normal;
  line-height: 1.6;
  margin: 0;
}
h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.3rem;
}
h5, h6 {
  font-size: 1.1rem;
}
p {
  margin: 0 0 1.2rem 0;
}
/* Typography -> Links */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  color: var(--theme-color);
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
  border: 0;
  outline: 0;
}
a:active,
a.active {
  color: var(--theme-color);
}
a:hover {
  color: var(--theme-color-two);
}
b,
strong {
  font-weight: bolder;
  color: var(--bold-color);
}
dfn,
cite {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
small {
  font-size: 80%;
}
big {
  font-size: 125%;
}
em {
  font-style: normal;
  color: var(--theme-color);
}

/* Typography-> code tags */
code,
kbd,
pre,
samp {
  background: var(--content-bg);
  font-family: monospace, monospace;
  font-size: 1rem;
}
kbd {
  margin: 0;
  padding: 0 5px;
}
pre {
  overflow: auto;
  margin: 1rem 0;
  padding: 1rem;
  tab-size: 2;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
tt,
var {
  font-family: monospace, monospace;
  font-style: italic;
}
mark {
  background: var(--theme-color);
  color: #ffffff;
  padding: 2px 5px;
  text-shadow: none;
}
/* typography -> abbreviation */
acronym[title], abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
}
abbr,
acronym {
  cursor: help;
}
acronym {
  border-bottom: 1px dotted;
}

/* Media
----------------------- */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
  max-width: 100%;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img,
picture,
svg {
  max-width: 100% !important;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border: 0;
}
figcaption {
  padding: 4px;
  font-size: 0.8rem;
  background: var(--content-bg);
  border: 1px solid var(--border-color);
  text-align: center;
}
.align-left,
img.align-left,
figure.align-left {
  margin: 0 1rem 1rem 0;
}
.align-right,
img.align-right,
figure.align-right{
  margin: 0 0 1rem 1rem;
}
.align-center,
img.align-center,
figure.align-center {
  display: block;
  clear: both;
  margin: 1rem auto;
}
figure.align-center {
  display: table;
}
figure.align-center img {
  display: block;
  clear: both;
  margin: 0 auto;
}
.image-field {
  margin: 0 0 1rem 0;
}
/* Form
----------------------- */
form {
  margin-bottom: 1rem;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
.button,
.button-solid,
a.button-solid:hover,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  position: relative;
  display: inline-block;
  background: var(--theme-color);
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  -webkit-appearance: button;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button:hover,
.button-solid:hover,
a.button-solid:hover,
button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background: var(--theme-color-two);
  color: #ffffff;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0;
}
button[disabled],
html input[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
input {
  line-height: normal;
}
input,
textarea {
  max-width: 100%;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="date"],
textarea {
  background: transparent;
  color: var(--text-color);
  padding: 10px;
  border: 1px solid var(--border-color);
  -webkit-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid var(--theme-color-two);
  outline: 0;
}
textarea {
  width: 100%;
  overflow: auto;
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
  vertical-align: top;
}
@-webkit-keyframes autofill {
  to {
    color: var(--text-color);
    background: transparent;
  }
}
@keyframes autofill {
  to {
    color: var(--text-color);
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  margin: 0 0 10px 0;
  padding: 0.35em 0.5em 0.5em 0;
  border: 1px solid var(--border-color);
}
fieldset > :last-child {
  margin-bottom: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
optgroup {
  font-weight: bold;
}
select {
  padding: 4px 0;
}
form label {
  color: var(--bold-color);
}
label[for] {
  cursor: pointer;
}
/* Form */
.form-item {
  margin-bottom: 1rem;
}
.form-required:after {
  content: "*";
  display: inline-block;
  padding-left: 4px;
  color: red;
}
.form-item label {
  display: block;
}
label.option {
  display: inline;
  font-weight: normal;
}
progress {
  vertical-align: baseline;
}
::-webkit-input-placeholder {
  color: var(--border-color);
}
:-moz-placeholder {
  color: var(--border-color);
}
::-moz-placeholder {
  color: var(--border-color);
  opacity: 1;
}
:-ms-input-placeholder {
  color: var(--border-color);
}
.field--name-body input[type="text"],
.field--name-body input[type="email"],
.field--name-body input[type="url"],
.field--name-body input[type="password"],
.field--name-body input[type="search"],
.field--name-body textarea {
  display: block;
  margin-bottom: 0.8rem;
}
/* Form in body */
.node-content input[type="text"],
.node-content input[type="email"],
.node-content input[type="url"],
.node-content input[type="password"],
.node-content input[type="search"],
.node-content input[type="date"],
textarea {
  display: block;
  background: var(--content-bg);
  margin-bottom: 0.8rem;
  border-radius: 20px;
}
/* Forms in sidebar */
.sidebar input[type="text"],
.sidebar input[type="email"],
.sidebar input[type="url"],
.sidebar input[type="password"],
.sidebar input[type="search"],
textarea {
  width: 100%;
  border: 1px solid var(--content-border-color);
}
/* Animated expanding textarea */
.form-textarea {
  height: 100px;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.form-textarea:focus {
  height: 180px;
}
summary {
  display: list-item;
  cursor: pointer;
  color: #a1a1a1;
  color: var(--text-color);
}
/* Common HTML Elements
----------------------- */
hr {
  clear: both;
  width: 100%;
  height: 2px;
  background: var(--border-color);
  border: 0;
  box-sizing: content-box;
  overflow: visible;
}
address {
  margin: 0 0 1rem 0;
  font-style: italic;
}
/* Definition Lists */
dt {
  color: var(--bold-color);
  font-weight: 700;
  margin: 0 0 1.75rem;
}
dt {
  color: var(--bold-color);
  font-weight: 700;
}
dd {
  margin: 0 0 1.2rem 0;
}
blockquote {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  background: var(--content-bg);
  border-left: 6px solid var(--theme-color);
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);;
  border-bottom: 2px solid var(--border-color);;
}
[dir="rtl"] blockquote {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  background: var(--content-bg);
  border-right: 6px solid var(--theme-color);
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}
blockquote > :last-child {
  margin-bottom: 0;
}

/* List
----------------------- */
 ul,
 ol {
   margin: 0;
   padding: 0 0 0.25rem 1rem;
 }
 [dir="rtl"] ul,
 [dir="rtl"] ol {
   padding: 0 1rem 0.25rem 0;
 }
 ol ol,
 ul ul {
   margin: 0;
   padding: 0 0 0.25rem 1rem;
 }
 [dir="rtl"] ol ol,
 [dir="rtl"] ul ul {
   padding: 0 1rem 0.25rem 0;
 }
 ul {
   list-style: disc;
 }
 li > ul,
 li > ol {
   margin-bottom: 0;
 }
 [dir="rtl"] ul,
 [dir="rtl"] ol {
   padding: 0 1rem 0.25rem 0;
 }
 li {
   padding: 4px 0;
 }

 /* Table
 ----------------------- */
table {
  width: 100%;
  margin-bottom: 1.2rem;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
tr,
td {
  vertical-align: middle;
}
th {
  background-color: var(--content-bg);
  color: var(--bold-color);
  margin: 0;
  padding: 5px;  
  border: 1px solid var(--border-color);
  text-align: left;
  text-shadow: none;
}
th a {
  color: var(--bold-color);
}
td {
  padding: 5px;
  border: 1px solid var(--border-color);
}

/* Misc
----------------------- */
::-moz-selection {
  background: var(--theme-color);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: var(--theme-color);
  color: #fff;
  text-shadow: none;
}
