/* Navigation */
.menu {
  margin: 0;
  padding: 0;
}
.menu li {
  position: relative;
}
.submenu {
  margin: 0;
  padding: 0;
}

/* Main -> Admin Tabs */
ul.page-tabs {
  display: flex;
  margin: 0 0 0.6rem 0;
  padding: 0;
  border-bottom: 1px solid var(--border-color);
  list-style: none;
}
.page-tabs li {
  padding: 0;
  border-right: 2px solid #ffffff;
}
.page-tabs li a {
  padding: 4px 10px;
  background: var(--border-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-tabs li.active-page-tab a,
.page-tabs li a:hover {
  background: var(--theme-color);
  color: #ffffff;
}
/* Main -> node -> pager */
.pager__items {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 0;
  padding: 1rem 0;
}
.pager__item {
  display: grid;
  place-content: center;
  padding: 0;
  line-height: 1;
}
.pager__item a {
  padding: 10px 14px;
  background: var(--content-bg);
  border-radius: 4px;
}
.pager__item a:hover,
.pager__item.is-active a {
  background: var(--theme-color);
  color: #ffffff;
}
/* Footer -> Scroll To Top. */
.scrolltop {
  position: fixed;
  display: none;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  place-content: center;
  border-radius: 50%;
  background: var(--theme-color);
  color: #ffffff;
  z-index: 20;
  cursor: pointer;
}
.scrolltop-icon {
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.scrolltop:hover {
  background: var(--theme-color-two);
}
