/* Homepage -> Slider */
.slider,
.home-slider {
  position: relative;
  background-color: var(--content-bg);
  height: 100vh;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}
.slider {
  background-color: var(--content-bg);
}
/* Slider column */
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.slider-half {
  flex: 0 0 50%;
  max-width: 100%;
}
/* Layer slider */
.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - 2rem);
  overflow: hidden;
}
/* slider content */
.slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.slider em {
  font-style: normal;
}
.slider h1,
.slider h2,
.slider h3,
.slider h4,
.slider h5 {
  line-height: 1.2;
}
.slider p {
  margin-bottom: 0;
}
.slider h1 {
  font-size: 2.6em;
}
.slider h2 {
  font-size: 2em;
}
.slider h3 {
  font-size: 1.4em;
}
.slider h4 {
  font-size: 1.2em;
}
.slider em {
  color: var(--theme-color);
}
.slider p {
	font-size: 1.2em;
}
.slider .button,
.slider button {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
  background: var(--theme-color);
  border: 2px solid var(--theme-color);
  border-radius: 50px;
  padding: 9px 22px;
  transition: 0.3s ease-in-out;
}
.slider .button:hover,
.slider button:hover {
  color: var(--theme-color);
  background: transparent;
}

/* Slider Animations */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.layer1,
.layer2,
.layer3,
.layer4,
.layer5,
.layer6 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.tns-slide-active .layer1,
.tns-slide-active .layer2,
.tns-slide-active .layer3,
.tns-slide-active .layer4,
.tns-slide-active .layer5,
.tns-slide-active .layer6 {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.layer1,
.layer4 {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.layer2,
.layer5 {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.layer3,
.layer6 {
  -webkit-transform: translate3d(0, 100% , 0);
  -moz-transform: translate3d(0, 100% , 0);
  transform: translate3d(0, 100% , 0);
}
.tns-slide-active .layer1 {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.tns-slide-active .layer2 {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  transition-delay: 2s;
}
.tns-slide-active .layer3 {
  -webkit-transition-delay: 3s;
  -moz-transition-delay: 3s;
  transition-delay: 3s;
}
.tns-slide-active .layer4 {
  -webkit-transition-delay: 4s;
  -moz-transition-delay: 4s;
  transition-delay: 4s;
}
.tns-slide-active .layer5 {
  -webkit-transition-delay: 5s;
  -moz-transition-delay: 5s;
  transition-delay: 5s;
}
.tns-slide-active .layer6 {
  -webkit-transition-delay: 6s;
  -moz-transition-delay: 6s;
  transition-delay: 6s;
}
/* tiny slider */
.tns-slider,
.tns-carousel {
  margin: 0;
  padding: 0;
}
/* tiny slider -> dot navigation */
.tns-nav,
.tns-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 1rem;
}
.tns-nav button {
  background-color: #222222;
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  border: 0;
}
.tns-nav .tns-nav-active {
  background-color: var(--theme-color);
}
/* tiny slider -> button navigation */
.tns-controls button {
  background-color: transparent;
  color: var(--bold-color);
  padding: 4px 1rem;
  border: 3px solid var(--bold-color);
  border-radius: 2rem;
}
.tns-controls button:hover {
  background-color: var(--header-block-bg);
  color: var(--bold-color);
}
/* Responsive */
@media (min-width: 992px) {
  .slider-container,
  .slider-item {
    flex-direction: row;
  }
  .slider-half {
    max-width: 50%;
  }
  .slider h1 {
    font-size: 2rem;
  }
  .slider h2 {
    font-size: 1.8rem;
  }
  .slider h3 {
    font-size: 1.6rem;
  }
  .slider h4 {
    font-size: 1.4rem;
  }
  .slider h5 {
    font-size: 1.2rem;
  }
  .slider em {
    color: var(--theme-color);
  }
  .slider p {
    font-size: 20px;
  }
}